
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdbdbd;
}


main {
    height: 500px;
    width: 80vw;
    margin: 20px auto 0;
    display: grid;
    flex-direction: row;
    column-gap: 20px;
}

.login, .cadastro {
    width: 50%;
}

.login {
    border-right: 2px solid #9B111E;
}

h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #9B111E;
    margin-bottom: 20px;
}

.grupo-campos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 16px;
}

.grupo-campos input {
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #9B111E
}

.grupo-campos button {
    padding: 14px;
    border-radius: 10px;
    border: none;
    color: #9B111E;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
} 

.grupo-campos button:hover {
    background-color: #9B111E;
    color: #FFFFFF
}