<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Cadastro de Estoque</h2>
    <header>
    
        <div class="input-option">
            <button id="botao-producao">Produção</button>
        </div>

        <div class="input-option">
            <button id="botao-home">Tela Inicial</button>
        </div>

        <div class="input-option">
            <button id="botao-registro">Cadastro de Estoque</button>
        </div>
    
    </header>

    <div class="container">
        <select id="selMotor">Selecione a opção a ser adicionada</select>
    </div>

</body>
</html>