<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Estoque</title>

  </head>
  <body>
    <header>
      <h2>Cadastro de Estoque</h2>
    </header>

    <main>
      <form>

        <div class="input-data">
          <label for="motor">Motor</label>
          <select name="combobox" id="motor">
          

          </select>
        </div>

        <div class="input-data">
          <label for="cor">Cor</label>
          <input type="text" id="cor"/>
        </div>

        <div class="input-data">
          <label for="cambio">Cambio</label>
          <input type="number" id="cambio"/>
        </div>

        <div class="input-data">
          <label for="chassi">Chassi</label>
          <input type="number" id="chassi"/>
        </div>

        <div class="input-data">
          <label for="bancos">Bancos</label>
          <input type="text" id="bancos"/>
        </div>

        <div class="input-data">
          <label for="rodas">Rodas</label>
          <input type="text" id="rodas"/>
        </div>

        <button id="botao-cadastrar">
          Cadastrar
        </button>
      </form>

      <aside id="lista-veiculo">
        

      </aside>
      
      <button id="botao-voltar">Voltar</button>

    </main>
  </body>
</html>
