<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Estoque</title>

  </head>
  <body>
    <h2>Cadastro de Estoque</h2>
    <header>
      
        <div class="input-option">
          <button id="botao-producao">Produção</button>
        </div>
  
        <div class="input-option">
          <button id="botao-home">Tela Inicial</button>
        </div>
  
        <div class="input-option">
          <button id="botao-registro">Cadastro de Estoque</button>
        </div>
      
    </header>

    <main>
      <form id="formulario-estoque">
        <label for="nome">Nome do Item:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="fabricante">Fabricante:</label>
        <input type="text" id="fabricante" name="fabricante" required>

        <label for="tipo">Tipo:</label>
        <select id="tipo" name="tipo" required>
            <option value="interna">Interna</option>
            <option value="externa">Externa</option>
        </select>

        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" min="0" required>

        <label for="data_entrada">Data de Entrada:</label>
        <input type="date" id="data_entrada" name="data_entrada" required>

        <label for="custo">Custo (R$):</label>
        <input type="number" id="custo" name="custo" min="0" required>

    </form>

      <button id="botao-cadastrar">
        Cadastrar
      </button><br/>

      <aside id="lista-produto">
        

      </aside>
      

    </main>
  </body>
</html>
