
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 16px;
  font-weight: bold;
}

input, select, button {
  margin-top: 8px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}

button:hover {
  background-color: #0056b3;
}

input:focus, select:focus, button:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}