<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Estoque</title>
  </head>
  <body>
    <header>
      
      <div class="input-option">
        <button id="botao-producao">Produção</button>
      </div>

      <div class="input-option">
        <button id="botao-home">Tela Inicial</button>
      </div>

      <div class="input-option">
        <button id="botao-registro">Cadastro de Estoque</button>
      </div>
    </header>

    <main>
      
      <div id= "grafico"></div>
    </main>
  </body>
</html>
